pytest

# 0.2
fastparquet
pandas
pyarrow

# 3.
scipy

# 4.
scikit-learn

# 5.
xgboost
datasets
transformers[torch]
sentence_transformers

# 6.
annoy
tensorflow-hub
tensorflow-macos

# 7.
pystemmer
regex
mecab-python3
unidic-lite

# 8., 9.
requests
